*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #050505;
    display: flex;
    justify-content: center;
    align-items: center;
font-family: 'Montserrat', sans-serif;

}
.main{
    display: grid;
    width: 90vw;
    height: 90vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:"addTask taskList taskList"
                        "sideBar  taskList taskList"
                        "sideBar  taskList taskList";
    gap:1vw;
    
}
.main h1{
    margin-left: 4vw;
}

.addTask{
grid-area: addTask;
color: white;
/* border:2px solid blue; */

}
.sideBar{
    grid-area: sideBar;
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
}
.taskList{
    grid-area: taskList;
    box-shadow: 0 0 5px rgb(250, 250, 250,0.4);
    width: 60vw;
}
 /* Add Taks styles */

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(250, 250, 250,0.4);
    color: #fafafa;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgba(59, 59, 59, 0.2);
    border-radius: 5px;
    background-color: transparent;
    color: #fafafa;
}

.form-control input[type="date"]{
    background-color: white;
    cursor: pointer;
}

textarea.form-control {
    resize: vertical;
}

.btn-primary {
    background-color: #e2de1d;
    width: 100%;
    height: 6vh;
    color:  #050505;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s ease, border-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #e4f9cd;
    border: 1px solid #fafafa;
}

/* side bar styles */
.sideBar{
    background-color: transparent;
    box-shadow: 0 0 5px rgb(250, 250, 250,0.3);

}
.sideBar .menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:100%;
    gap: 1vh;
    justify-content: space-evenly;

    
}
.menu li button{
    width:15vw;
    height: 5vh;
    border: 1px solid rgb(94, 92, 92);
    border-radius: 1vw;
    color: black;
    font-size: 18px;
    background-color: #e2de1d;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease, border-color 0.3s ease;}
.menu li button:hover{
    background-color:#e4f9cd;
    border-color: #fafafa;
    color:  #050505;

}


/* Task list styles */
.task-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1a2e05;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 20px;

}
.task-table thead{
    width: 100%;
    color: white;
    background-color: #1a2e05;
    border: white;
}
.task-table th,
.task-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid rgb(255, 255, 255,0.4) ; /* Faded border line */
}
.noTasks{
    color:#e2de1d;
}


.actions{
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

/* Custom styles for Update and Delete buttons */
.btn-update {
    color: #050505;
    width: 8vw;
    height: 5vh;
    border: none;
    background-color: #b4ed78;
    border-radius: 2vw;
    cursor: pointer;
    transition: all 0.5s ease;

}
.btn-update:hover{
    color: white;
    width: 8vw;
    height: 5vh;
    background-color:transparent;
    border-radius: 2vw;
    cursor: pointer;
    border: 1px solid #fafafa;
}


.btn-delete {
    color: white;
    width: 8vw;
    height: 5vh;
    background-color:#050505;
    border-radius: 2vw;
    cursor: pointer;
    border: 1px solid #fafafa;
    transition: all 0.5s ease;

}
.btn-delete:hover{
    color: #050505;
    width: 8vw;
    height: 5vh;
    border: none;
    background-color: #b4ed78;
    border-radius: 2vw;
    cursor: pointer;
    transition: all 0.5s ease;
    
}

.complete{
    width:15vw;
    height: 5vh;
    border: 1px solid rgb(94, 92, 92);
    border-radius: 1vw;
    color: black;
    font-size: 18px;
    background-color: #e2de1d;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease, border-color 0.3s ease;
}
.complete:hover{
    background-color:#e4f9cd;
    border-color: #fafafa;
    color:  #050505;
    
}
.completed{
    width:15vw;
    height: 5vh;
    border: 1px solid rgb(126, 124, 124);
    border-radius: 1vw;
    color: black;
    font-size: 18px;
    background-color: #3f3e3c;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease, border-color 0.3s ease;
}
.completed:hover{
    background-color:#e4f9cd;
    border-color: #fafafa;
    color:  #050505;
    
}




/* Responsive styles */
@media screen and (max-width: 412px) {
    .task-table th,
    .task-table td {
        font-size: 14px;
    }

    .task-table th {
        padding: 8px;
    }
    .main{
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:"addTask"
                            "taskList"
                            "sideBar";
        gap:2vw;
        padding: 0 2vw;
        overflow-y: scroll;
        overflow-x: hidden;
        justify-content: center;
        align-items: center;
        
    }
    .menu li button{
        width: 90vw;
        height: 5vh;
    }
    .taskList{
        margin: 0 2vw;
        padding: 0 2vw;
        width: 100vw;
        height: 20vh;
        overflow-x: scroll;
        overflow-y: scroll;
    }
    .btn-delete{
        width: 20vw;
        height: 5vh;
    }
    .btn-update{
        width: 20vw;
        height: 5vh;
    }
    .complete{
        width: 20vw;
        height: 5vh;
    }
    .completed{
        width: 20vw;
        height: 5vh;
    }
    .complete:hover{
        width: 20vw;
        height: 5vh;

    }
    .completed:hover{
        width: 20vw;
        height: 5vh;

    }
    .btn-update:hover{
        width: 20vw;
        height: 5vh;
    }
    .btn-delete:hover{
        width: 20vw;
        height: 5vh;
    }
    .addTask{
        width:99vw;
        margin: 2vw;
    }


 

}
/* task list styles */